{% extends 'main/layout.html' %}
{% load static %}

{% block title %} Scores {% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'settings/css/add_cr.css' %}">
    <link rel="stylesheet" href="{% static 'settings/css/scores.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/layout.css' %}">
{% endblock %}

{% block content %} 
<div class="hero">
    <img src="{% static 'settings/img/icon.svg' %}" alt="">
    <h1> Добавить оценки</h1>
    <form method="post"> 
        {% csrf_token %}
        <div class="container"> 
            <div class="option">
                <h1>{{option1}}</h1>
                <table>
                    <tr>
                        <th>Методология</th>
                        <th>Оценка</th>
                    </tr>
                    {% for form in forms1 %}
                        <tr>
                            <td>{{form.methodology}}</td>
                            <td>{{form.score}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="option">
                <h1>{{option2}}</h1>
                <table>
                    <tr>
                        <th>методология</th>
                        <th>Оценка</th>
                    </tr>
                    {% for form in forms2 %}
                        <tr>
                            <td>{{form.methodology}}</td>
                            <td>{{form.score}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="option">
                <h1>{{option3}}</h1>	
                <table>
                    <tr>
                        <th>Methodology</th>
                        <th>Input score</th>
                    </tr>
                    {% for form in forms3 %}
                        <tr>
                            <td>{{form.methodology}}</td>
                            <td>{{form.score}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <span>{{error}}</span>
        </div>
        <input class="btn" type="submit" value="Сохранить" /> 
    </form>
</div>

{% endblock %}